*{
  margin:0;
  padding:0;
  }
body {
    background:blue;
	}
.main{
    width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	}
	
.circle{
        width:250px;
		height:250px;
		background:linear-gradient(#001fd1 0%,#001bb3 10%,#00186c 50%,#000a40 100%);
		border-radius:50%;
		position:relative;
		z-index:-2;
		display:flex;
		justify-content:center;
		align-items:center;
		}
.circle::before{
                content:'';
				position:absolute;
				width:200px;
				height:200px;
				background:linear-gradient(#070807 10%,#00127b 50%,#000c4e 100%);
				border-radius:50%;
				filter:blur(20px);
}
				